@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body, html {
    height: 100%;
    background-color: tan;
}
.hero-image {
  background-image: linear-gradient(#00000080, #00000080), url("../img/IMG_4505.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
img {
    height: 120px;
    width: 175px;
}
.img-size {
    height: 175px;
    width: 225px;
}
.before-position {
    position: absolute;
    left: 100px;
}
.during-position {
    position: absolute;
    left: 370px;
}
.after-position {
    position: absolute;
    left: 660px;
}
.border {
    border: #000000 1px solid;
}
header{
    height: 175px;
    
}
footer {
    height: 350px;
}
h1 {
    text-align: center;
}
ul {
    float: right;
}
li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
section, article {
    height: 300px;
}
aside {
    height: 600px;
    background-size: cover;
    background-position: center;
    
}
.on-left {
    float: left;
}
.float-right {
    float: right;
}
.article-section {
    width: 65%;
}
.aside {
    width: 35%;
}
.clearfix {
    clear: both;
}
a:visited {
    color: #800080;
}
a:link {
    color: #0000ff;
}
a {
    color: #0000ff;
    text-decoration: none;
}
a:hover {
    color: #ffc0cb;
    text-decoration: underline;
}
label {
    display: block;
    font: 12pt 'Fira Sans', sans-serif;
}

input,
label {
    margin: 12pt;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #0000ff;
    background-image: linear-gradient(to top left,
    #00000033,
    #00000033 30%,
    #00000000);
    box-shadow: inset 2px 2px 3px #ffffff99,
    inset -2px -2px 3px #00000099;
}   
.styled:hover {
    background-color: #ffc0cb;
} 
.styled:active {
    box-shadow: inset -2px -2px 3px #ffffff99,
    inset 2px 2px 3px #00000099;
}
.logo-size {
    height: 200px;
    width: 350px;
}
.fa {
padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}